{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>Profitlynx | About Us</title>

    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="{% static 'landing/assets/css/vendor.bundle.css' %}">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{% static 'landing/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'landing/assets/css/theme.css' %}">
</head>
<body>


		<!-- Header -->
		<header class="site-header header-s1 is-sticky">
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							
						</div>
						<div class="col-sm-6 al-right">
							<ul class="top-nav">
								
								<li><a href="{% url 'signin' %}">Login</a></li>
								<li><a href="{% url 'signup' %}">Register</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Navbar -->
			<div class="navbar navbar-primary" >
				<div class="container relative">
					<!-- Logo -->
					<!-- #end Logo -->
					<div class="navbar-header">
						
						<div class="quote-btn"><a class="btn" href="{% url 'signup' %}"><span>Register</span></a></div>
						<div class="quote-btn"><a class="btn" href="{% url 'signin' %}"><span>Login</span></a></div>
					</div>
					<!-- MainNav -->
					<nav class="navbar-collapse collapse" id="mainnav">
						<ul class="nav navbar-nav">
							<li><a href="{% url 'home' %}">Home</a>
							</li>
							<li><a href="{% url 'about' %}">About Our Company</a>
							</li>
							
							<li><a href="{% url 'packages' %}">Investment Offer</a></li>
							
							<li><a href="{% url 'faq' %}">Frequently Asked</a></li>
							<li><a href="{% url 'contact' %}">Contact Us</a></li>
							<li><a href="{% url 'signin' %}">Login</a></li>
								<li><a href="{% url 'signup' %}">Register</a></li>
									
						</ul>
					</nav>
					<!-- #end MainNav -->
				</div>
			</div>
			<!-- End Navbar -->
			<!-- End Navbar -->
			





<div class="page-head section row-vm light">
				<div class="imagebg">
					<img src="invest/static/landing/assets/images/page-inside-bg.jpg" alt="page-head">
				</div>
				<div class="container">
					<div class="row text-center">
						<div class="col-md-12">
							<h2>About Our Company</h2>
							<div class="page-breadcrumb">
								<ul class="breadcrumb">
									<li><a href="{% url 'home' %}">Home</a></li>
									<li class="active"><span>About Our Company</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- #end Banner/Slider -->


     	<!--Section -->
       	<div class="section section-pad">
       		<div class="container">
       			<div class="row row-vm">
       				<div class="col-md-5 res-m-bttm">
						<div class="text-block">
							<h2>An Evolution Inspired <span>by Clients</span></h2>
							<p>Profitlynx was founded to do one thing: deliver compelling investment results for our clients over the long term. This remains our singular purpose today, driven by a culture rooted in deep fundamental research, the pursuit of investment insight and continuous innovation on behalf of clients, and facilitated by the free exchange of ideas across the organization.</p>
							<p>As a private, independent, employee-owned investment manager Profitlynx has the freedom to focus exclusively on investing for our clients for the long term. As such, we are deeply attuned to each client’s unique combination of investment goals, risk tolerance, and income and liquidity requirements, and we can act in partnership to address them as they change over time.</p>
							<a href="#" class="btn btn-alt">Read More</a>
						</div>
       				</div>
       				<div class="col-md-6 col-md-offset-1">
       					<div class="video-block round">
       						<img src="/static/landing/assets/images/page-inside-bg.jpg" alt="photo-md" class="img-shadow">
       						<a href="https://youtu.be/s4g1XFU8Gto?si=t2xTG2cRRQDhcdL2" class="video-play"><span class="pe pe-7s-play"></span></a>
       					</div>
       				</div>
       			</div>
       		</div>
       	</div>
       	<!--End Section -->

       	<!--Section -->
       	<div class="section section-pad bg-grey">
       		<div class="container">
       			<div class="section-head">
					<div class="row text-center">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<h2 class="heading-section">Our purpose and values</h2>
							<p>Our purpose is why our company exists. At Profitlynx, we create clarity and confidence today for a more sustainable tomorrow.</p>
						</div>
					</div>
       			</div>
       			<div class="gaps size-3x"></div>
				<div class="row text-center">
					<div class="col-md-4 res-m-bttm-lg">
						<div class="box-alt">
							<div class="image-icon">
								<img src="/static/landing/assets/images/securitization.jpg" alt="box-icon">
							</div>
							<h4>Client focus</h4>
							<p>We are driven to help our clients succeed. In every interaction and with every solution, we act in our clients’ best interests – striving to understand their needs, respecting their perspectives and exceeding their expectations.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-alt">
							<div class="image-icon">
								<img src="/static/landing/assets/images/emilie.jpg" alt="box-icon">
							</div>
							<h4>Teamwork </h4>
							<p> We bring innovative solutions and world-class advice to our clients by working across boundaries of business, geography and function. We help each other succeed and create more value by working together.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-alt">
							<div class="image-icon">
								<img src="/static/landing/assets/images/staff.jpg" alt="box-icon">
							</div>
							<h4>Integrity</h4>
							<p>Our clients invest more than their time and money with us; they also invest their trust. We seek to earn that trust every day through professionalism, doing what is right and telling the truth. </p>
						</div>
					</div>
				</div>
       		</div>
       	</div>
       	<!--End Section -->

       	<!--Section -->
       	<div class="section section-pad">
       		<div class="container">
       			<div class="section-head">
					<div class="row text-center">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
							<h2 class="heading-section">leading Global Advisory</h2>
							<p>We strive to lead and sustain excellence. Most importantly, this means an unwavering commitment to professional development and personal growth for our people. Our colleagues take responsibility to develop their expertise, competencies and professional stature, while the company invests in the tools and opportunities that allow for continual development. In business, we place an unrelenting focus on innovation, quality and risk management.</p>
                            <p>We design and deliver solutions that manage risk, optimize benefits, cultivate talent, and expand the power of capital to protect and strengthen institutions and individuals. Our unique perspective allows us to see the critical intersections between talent, assets and ideas — the dynamic formula that drives business performance.</p>

<p>Together, we unlock potential.</p>
						</div>
					</div>
       			</div>
       			<div class="gaps size-3x"></div>
       			
       		</div>
       	</div>
       	<!--End Section -->


    	<!-- Section -->
    	<div class="section section-pad cta-section light has-bg dark-filter">
    		<div class="imagebg has-parallax">
				<img src="/static/landing/assets/images/tabitha.jpg" alt="cta-bg">
			</div>
    		<div class="container">
    			<div class="row text-center">
    				<div class="col-md-8 col-md-offset-2">
    					<h3>Helping people develop is an ongoing process. Strong leaders are never just born; they’re made and cultivated over time. </h3>
    					<a href="{% url 'signup' %}" class="btn btn-md">Start Now</a>
    				</div>
    			</div>
    		</div>
    	</div>
     	<!-- End Section -->

       

<!-- Section Footer -->
		<!-- Section Footer -->
		<div class="footer-section section section-pad-md light bg-footer">
			<div class="imagebg footerbg">
				<img src="/images/footer-bg.png" alt="footer-bg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm-lg">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-menu">
							<h5 class="wgs-title ucap">Main Navigation</h5>
							<div class="wgs-content">
								<ul class="menu">
									<li><a href="{% url 'home' %}">Home</a></li>
									<li><a href="{% url 'about' %}">About Our Company</a></li>
									
									<li><a href="{% url 'packages' %}">Investment Plans</a></li>
									
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm-lg">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-menu">
							<h5 class="wgs-title ucap">Useful Links</h5>
							<div class="wgs-content">
								<ul class="menu">
									<li><a href="{% url 'terms' %}">Terms of Service</a>
									<li><a href="{% url 'faq' %}">Frequently Asked</a></li>
                                
									
								</ul>
							</div>
						</div>
						<!-- End Widget -->
					</div>
					
					<div class="col-md-3 col-sm-6 wgs-box res-m-bttm">
						<!-- Each Widget -->
						<div class="wgs-footer wgs-contact">
							<h5 class="wgs-title ucap">get in touch</h5>
							<div class="wgs-content">
								
							</div>
						</div>
						<!-- End Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Section -->

		<!-- Copyright -->
		<div class="copyright light">
			<div class="container">
				<div class="row">
					<div class="site-copy col-sm-7">
						<p>Copyright &copy; 2023 Profitlynx</p>
					</div>
					
				</div>
			</div>
		</div>
		<!-- End Copyright -->

		<!-- Preloader !remove please if you do not want -->
		<!-- Preloader End -->

		<!-- JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->

	
		<script src="/static/landing/assets/js/script.js"></script>
    
		<script>
		  (function(b,i,t,C,O,I,N) {
			window.addEventListener('load',function() {
			  if(b.getElementById(C))return;
			  I=b.createElement(i),N=b.getElementsByTagName(i)[0];
			  I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
			},false)
		  })(document,'script','../widgets.bitcoin.com/widget.html','btcwdgt');
		</script>
    <!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '1d33e31fa57d2f716bc6367d2c466844b8c8adc8';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>
<!-- End of Smartsupp Live Chat script -->
		
	</body>

</html>

